
/**
 * @file
 * Toolbar CSS.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */

#custom-menu-toolbar,
#custom-menu-toolbar * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body.custom-menu-toolbar {
  padding-top: 34px;
}
#custom-menu-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  z-index: 999;
}
#custom-menu-toolbar a {
  float: left;
  line-height: 34px;
  padding: 0 8px;
  width: 100%;
}
#custom-menu-toolbar a,
#custom-menu-toolbar a:focus,
#custom-menu-toolbar a:hover,
#custom-menu-toolbar a:active,
#custom-menu-toolbar a:visited {
  color: inherit;
  text-decoration: none;
}
#custom-menu-toolbar ul,
#custom-menu-toolbar li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
}
#custom-menu-toolbar a.active,
#custom-menu-toolbar a.active-trail,
#custom-menu-toolbar li.active-trail {
  border: 0;
}
#custom-menu-toolbar li:hover > ul {
  display: block;
}
#custom-menu-toolbar > ul {
  width: 100%;
}
#custom-menu-toolbar > ul > li {
  width: auto;
}
#custom-menu-toolbar li ul {
  display: none;
  width: 15em;
  position: absolute;
}
#custom-menu-toolbar > ul > li > ul {
  top: 34px;
}
#custom-menu-toolbar li ul li ul {
  position: absolute;
  left: 15em;
  top: 1em;
}
#custom-menu-toolbar li li.expanded > a:after {
  content: "›";
  float: right;
  font-family: Verdana;
  font-size: 16px;
}
